body {
    font-family: Arial, serif;
}

.no-dot {
    list-style-type: none
}

.layout {
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
}

.navbar {
    border: 3px solid;
    padding: 10px;
    gap: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.border {
    border-radius: 1px;
    border: 3px solid;
}

.p10 {
    padding: 10px;
}

.bold {
    font-weight: bold;
}

.right {
    margin-left: auto;
    margin-right: 0;
}

.purple {
    color: rebeccapurple;
}

.avatar {
    flex: 0 0 calc(25% - 1em);
    min-height: 120px;
    margin: 0.25em 0.5em;
    min-width: 100px;
}

.avatar-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 100%;
}

a {
    cursor: pointer;
}